<div class="footer-container">
  
  <div class="score">
    <div class="score__item score__username">bananatron</div>
    <div class="score__item score__number"><span class="ion-flash"> <span id="score">0</span></span></div>
  </div>

  <div class="footer">
    <div class="footer__item add-task"><span class="ion-plus-circled" ></span></div>
    <div class="footer__item"><span class="ion-ios-list" ></span></div>
    <div class="footer__item"><span class="ion-compose" ></span></div>
    <a class="footer__item" href="/profile"><span class="ion-ios-body"></span></a>
  </div>
  
</div>