<div class="footer">
  <div class="footer__item"><span class="ion-plus-circled" ></span></div>
  <div class="footer__item"><span class="ion-ios-list" ></span></div>
  <div class="footer__item"><span class="ion-compose" ></span></div>
  <div class="footer__item"><span class="ion-ios-body" ></span></div>
</div>