<div class="left">
  <ul class="nav">
    <!--<li class="head">DASHBOARD</li>-->
    <a href="/"><li class="nav_item">Tasks</li></a>
    <li class="nav_item inactive">Journal</li>
    <li class="nav_item inactive">Calendar</li>
    <li class="nav_item inactive">Stats</li>
    <a href="/profile"><li class="nav_item">Profile</li></a>
    <a href="/login" id="login-link"><li class="nav_item">Login</li></a>
  </ul>
</div>
