<div class="left">
  <ul class="nav">
    <li class="head">DASHBOARD</li>
    <li class="nav_item">Tasks</li>
    <li class="nav_item inactive">Journal</li>
    <li class="nav_item">Calendar</li>
    <li class="nav_item">Settings</li>
  </ul>
</div>