/* GENERAL */
////////////
$base-spacing: 1rem;
$font-base: Helvetica, sans-serif;
$red: rgb(230, 71, 89);
$green: rgb(27, 201, 142);
$purple: rgb(159, 134, 255);
$yellow: rgb(228, 216, 54);
$blue: rgb(25, 151, 198);
$grey: rgb(207, 210, 218);
$darkblue: rgb(30, 33, 39);
$darkerblue: rgb(24, 26, 31);
$text-dark: rgb(30, 33, 39);
$text-light: rgb(207, 210, 218);
$bg-dark: rgb(37, 40, 48);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0rem;
  font-family: 'Roboto', sans-serif;
  background-color: #252830;
}

body {
  padding-bottom: 40px;
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

h1, h2, h3, h4 {
  font-weight: 300;
  margin-top: $base-spacing*2;
}

.logo {
  min-height: 80px;
  font-weight: 300;
  width: 100%;
  font-size: 2rem;
  letter-spacing: -0.05rem;
  background-image: url("../images/sm_3d_tri.png");
  background-image: url("../images/sm_white_tri.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease-in-out;
}

.logo:hover{
  background-image: url("../images/sm_3d_tri.png");
}


hr {
  border: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0.4rem 0.8rem;
  /*border-radius: 5px;*/
}
li:hover {
  background-color: $green;
  color: #252830;
  cursor: pointer;
}

.select-hide {
  cursor: pointer;
}
.head {
  font-weight: 300;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  color: rgba(207, 210, 218, 0.3);
  letter-spacing: 1px;
  margin-bottom: $base-spacing/2;
}

li.head:hover {
  background-color: rgba(0, 0, 0, 0);
}

.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 3px 12px;
  margin: 12px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #434857;
  background-image: none;
  border: 1px solid #434857;
  /*border-radius: 4px;*/
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 px rgba(255, 255, 255, 0.2);
}




/* TASKS */
.add-task-header {
  position: absolute;
  top: $base-spacing;
  right: $base-spacing;
  font-size: 2.3rem;
  cursor: pointer;
  display: none;
}
.add-task-header:hover {
  color: $green;
}

#task-new{
  display: none;
  position: relative;
  
  .task-close_small {
    position: absolute;
    right: $base-spacing;
    top: $base-spacing/2;
  }
  .task-close_small:hover {
    color: $red;
  }
}

.task {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#task-input {
  margin-bottom: $base-spacing;  
}

.hidden {
  opacity: 0;
}
.unhidden {
  opacity: 100 !important;
}
.tasks_container {
  transition: all 0.6s ease-in-out;
}

.task__header {
  display: flex;
  // padding: $base-spacing;
  align-items: center;
  background: $darkerblue;
  // border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 0.3s ease-in-out;
  position: relative;
  
  .header_title {
    flex-grow: 10;
    color: $text-light;
    letter-spacing: 0.2px;
    font-size: 1.2rem;
    padding: $base-spacing/2;
    margin-left: $base-spacing/2;
  }
  
  .header_focus_container {
    display: flex;
    flex-wrap: wrap;
    margin-left: $base-spacing/2;

  }
  
  .header_focus {
    font-size: 1.8rem;
    color: $text-light;
    min-width: 2rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .header_score {
    font-size: 1.1rem;
    flex-grow: 1;
    font-weight: 700;
    color: $text-light;
    text-align: center;
    background-color: $darkblue;
    padding: $base-spacing $base-spacing $base-spacing $base-spacing*2;
    position:relative;
    
  }
  
  .score-complete:after {
    position: absolute;
    content:"";
    left: -10px;
    top: 0;
    width: 0;
    height: 100%;
    //border-left: 20px solid lighten($darkblue, 20%);
    border-left: 20px solid $green;
    border-bottom: 0 solid transparent;
    transform: skewX(15deg);
    transition: all 0.3s ease-in-out;
  }
    
  .score-incomplete:before {
    position: absolute;
    content:"";
    left: -20px;
    top: 0;
    width: 0;
    height: 100%;
    border-left: 20px solid $bg-dark;
    border-bottom: 0 solid transparent;
    transform: skewX(15deg);
    transition: all 0.3s ease-in-out;
  }
  
  .score-incomplete:after {
    position: absolute;
    content:"";
    left: -10px;
    top: 0;
    width: 0;
    height: 100%;
    //border-left: 20px solid lighten($darkblue, 20%);
    border-left: 20px solid $red;
    border-bottom: 0 solid transparent;
    transform: skewX(15deg);
    transition: all 0.3s ease-in-out;
  }

  
}


.task__header:hover > .header_score:before { 
  left: -10px;
}

.task__header:hover > .header_score:after { 
}


.task__confirm_container {
  display: flex;
  .button{
    flex-grow: 1;
  }
}

.task__body {
  display: none;
}
.task__body--hidden {
  display: none;
}

.task__body_details{
  padding: 1rem;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  border-top: 2px solid $bg-dark;
}

.task__body_actions {
  display:flex;
}

.task__body_focus_container {
  display: flex;
  transition: all 0.1s ease-in-out;
  border-bottom: 2px solid $bg-dark;
  border-top: 2px solid #252830;
}
.task__body_focus {
  cursor: pointer;
  font-weight: 700;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  // margin-left:2px;
  text-align: center;
  padding: 0.5rem;
  flex-grow: 1;
  // background-color: rgba(0, 0, 0, 0.4);
}
.task__body_focus:first-child{
  margin-left: 0px;
}
.task__body_focus:hover {
  background-color: rgba(0, 0, 0, 0.2);
}



.task__action {
  flex-grow: 1;
  text-align: center;
  padding: 0.8rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 2px solid $bg-dark;
  transition: all 0.1s ease-in-out;
}
.task__action:nth-child(1){
  border-left: 0px;
}
.task__action:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.task__input, .task__textarea {
  display: block;
  width: 100%;
  padding: 3px 12px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: none;
  border: 0px solid #434857;
  border-radius: 4px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: #cfd2da;
}

.task__textarea {
  font-family: 'Roboto', sans-serif;
  height: 4rem;
  padding: 0.4rem 0.6rem;
}

.task__input_label {
  font-weight: 300;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  color: rgba(207, 210, 218, 0.3);
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
  margin-top: 0.8rem;
}

.task__input_label:first-child {
  margin-top: 0;
}
  
[data-selected="true"] {
  background-color: $green !important;
  color: $text-dark;
}

.task__focusselect {
  display: flex;
  flex-wrap: wrap;
  
  .task__icon{
    margin-right: 0.4rem;
  }
  
  .focus_option {
    min-width: 100px;
    padding: 1rem;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.1s;
    cursor: pointer;
    font-weight: 300;
    border: 1px solid $text-dark;
  }
  
  
}


.task__scoreselect {
  display: flex;
  
  .score_option {
    padding: 1rem;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.1s;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid $text-dark;
  }

}

#user-login{
  border: 0;
  display: block;
  width: 100%;
  font-size: 1rem;
}
// .task__scoreselect_option:first-child {
//   border: 0;
// }


select {
  color: $text-light;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0.4rem 0.6rem;
    font-size: 1.5rem;

    appearance: none;
    border-radius: 0;
    margin: 0rem 0 1rem 0;
    letter-spacing: 1px;
}





.text-dark {
  color: $text-dark;
}
.text-light {
  color: #cfd2da;
}







/* TEMPLATE LAYOUT */
////////////////////

.container {
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem;
  position: relative;
}

.notifications {
  margin-bottom: $base-spacing;
  display: flex;
  flex-wrap: wrap;

  .note{
    font-weight: 300;
    padding: $base-spacing/2;
    color: $text-dark;
    text-align: center;
    flex-grow: 1;
    background-color: $green;
    margin-right: $base-spacing/4;
    cursor: default;
  }
  .note:last-child{
    margin-right: 0;
  }
  .alert {
    background-color: $red;
  }
  
  .notification__close {
    float: right;
    pointer-events: none;
  }

}

.left, .right {
  padding: 0.5rem;
  color: #cfd2da;
}

.right {
  flex-grow: 1;
}


.nav {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  overflow: wrap;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  /*border-radius: 4px;*/
}



/* UTILITY  */
.text-minimize {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}
.button {
  padding: $base-spacing;
  background-color: rgba(0 , 0, 0, 0.15);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  background-color: $green;
  color: $text-dark;
}
.submit {
  margin: $base-spacing 2px;
}

  

/* Flex Tables */
.flextable {
  display: flex;
  flex-direction: row;
}
.flexcolumn {
  display: flex;
  order: 1;
  flex-direction: column;
  flex-grow: 1;
}
.flexrow__head {
  order: 0;
}
.flexrow:nth-child(3){
  order: 0;

}
.flexcolumn > .flexhead {
  border-bottom: 2px solid #fff;
}
.flexitem {
  flex-grow: 1;
  padding: 0.2rem 0;
  order: 0;
  font-weight: 300;
}
.flexhead {
  font-weight: 700 !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.box {
  padding: 1rem;
}
.inactive {
  color: rgba(207, 210, 218, 0.3);
}
.inactive:hover {
  color: rgba(207, 210, 218, 0.3);
  background-color: rgba(0, 0, 0, 0);
  cursor: not-allowed;
}

.bg-green {
  background-color: $green !important;
  color: $text-dark !important;
}
.bg-green-hover:hover {
  background-color: $green !important;
  color: $text-dark !important;
}
.bg-red {
  background-color: $red !important;
  color: $text-dark !important;
}
.bg-red-hover:hover {
  background-color: $red !important;
  color: $text-dark !important;
}
.bg-purple {
  background-color: $purple !important;
  color: $text-dark !important;
}
.bg-puprle-hover:hover {
  background-color: $purple !important;
  color: $text-dark !important;
}

.bg-yellow {
  background-color: $yellow !important;
  color: $text-dark !important;
}
.bg-yellow-hover:hover {
  background-color: $yellow !important;
  color: $text-dark !important;
}
.bg-blue {
  background-color: $blue !important;
  color: $text-dark !important;
}
.bg-blue-hover:hover {
  background-color: $blue !important;
  color: $text-dark !important;
}
.bg-grey {
  background-color: $grey !important;
  color: $text-dark !important;
}
.bg-grey-hover:hover {
  background-color: $grey !important;
  color: $text-dark !important;
}
.bg-darkblue {
  background-color: $text-dark !important;
  color: $text-light !important;
}
.bg-darkblue-hover:hover {
  background-color: $text-dark !important;
  color: $text-light !important;
}


//Mobile
@media screen and (max-width: 600px) { 
  
  /* LAYOUT */
  body{
    padding-bottom: 100px;
  }
  .left, .right {
    padding: inherit;
  }
  .container {
    flex-direction: column;
  }
  .nav {
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }
  .add-task-header{
    display: none !important;
  }
  
  li.head, .header_score:before, .header_focus_container {
    display: none !important;
  }
  
  .task__header .header_title {
    font-size: 1rem !important;
  }
  
  .notifications .note{
    margin-right: 0 !important;  
  }
  
  .footer {
    display: flex !important;
  }
  
}


