
.focus-container {
  display: flex;
  flex-direction: column;
}

.focus__setting {
  background-color: $darkblue;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: $base-spacing;
}

.focus__color{
  width: 20px;
}

.focus__icon{
  font-size: 2rem;
  margin-left: $base-spacing;
  margin-top: auto;
  margin-bottom: auto;
}

.focus__name {
  flex-grow: 3;
  padding: $base-spacing $base-spacing;
}

.focus__action {
  padding: $base-spacing;
  width: 20%;
  text-align: center;
}

#profile-change-email, #profile-change-password {
  display: none;
}