/* GENERAL */

$base-spacing: 1rem;
$font-base:    Helvetica, sans-serif;
$red: rgb(230, 71, 89);
$green: rgb(27, 201, 142);
$purple: rgb(159, 134, 255);
$yellow: rgb(228, 216, 54);
$blue: rgb(25, 151, 198);
$grey: rgb(207, 210, 218);
$darkblue: rgb(30, 33, 39);
$text-dark: rgb(30, 33, 39);
$text-light: rgb(207, 210, 218);
$bg-dark: rgb(37, 40, 48);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif;
  background-color: #252830;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.logo {
  min-height: 100px;
  font-weight: 300;
  width: 100%;
  font-size: 2rem;
  letter-spacing: -0.05rem;
  background-image: url("../images/logo_100.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s ease-in-out;
}

.logo:hover{
  filter: hue-rotate(180deg);
}


hr {
  border: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0.4rem 0.8rem;
  /*border-radius: 5px;*/
}
li:hover {
  background-color: rgb(85, 201, 169);
  color: #252830;
  cursor: pointer;
}

li.head {
  font-weight: 300;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  color: rgba(207, 210, 218, 0.3);
  letter-spacing: 1px;
}

li.head:hover {
  background-color: rgba(0, 0, 0, 0);
}

.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 3px 12px;
  margin: 12px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #434857;
  background-image: none;
  border: 1px solid #434857;
  /*border-radius: 4px;*/
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #ffffff;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 px rgba(255, 255, 255, 0.2);
}




/* TASKS */

.task {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.task__header {
  display: flex;
  padding: 0.5rem 0.8rem;
  align-items: center;
  background: rgb(159, 134, 255);
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  cursor: default;
  
  .header_title{
    flex-grow: 10;
    color: $text-dark;
  }
  .header_focus{
    font-size: 1.8rem;
    flex-grow: 1;
    color: $text-dark;
    min-width: 35px;
    text-align: center;
    margin-right:1rem;
  }
  
  .header_score{
    font-size: 0.8rem;
    flex-grow: 1;
    font-weight: 700;
    color: $text-dark;
    min-width: 40px;
    text-align: center;
  }
  
  
}
.task__header:hover {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.25" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
}



.task__body {
  position: relative;
}
.task__body--hidden {
  display: none;
}

.task__body_description{
  padding: 1rem;
}

.task__body_actions {
  display:flex;
}
.task__action {
  flex-grow: 1;
  text-align: center;
  padding: 0.8rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 1px solid $text-dark;
  transition: all 0.1s ease-in-out;
}
.task__action:nth-child(1){
  border-left: 0px;
}
.task__action:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.task__input, .task__textarea {
  display: block;
  width: 100%;
  padding: 3px 12px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: none;
  border: 0px solid #434857;
  border-radius: 4px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: #cfd2da;
}

.task__textarea {
  font-family: 'Roboto', sans-serif;
  height: 4rem;
  padding: 0.4rem 0.6rem;
}

.task__input_label {
  font-weight: 300;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  color: rgba(207, 210, 218, 0.3);
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
  margin-top: 0.8rem;
}
  
[data-selected="true"] {
  background-color: $green !important;
  color: $text-dark;
}

.task__focusselect {
  display: flex;
  flex-wrap: wrap;
  
  .task__icon{
    margin-right: 0.4rem;
  }
  
  .focus_option {
    min-width: 100px;
    padding: 1rem;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.1s;
    cursor: pointer;
    font-weight: 300;
    border: 1px solid $text-dark;
  }

  
  .focus_option:hover {
    color: $text-dark;
    background-color: $yellow;
  }
  
  
}


.task__scoreselect {
  display: flex;
  
  .score_option {
    padding: 1rem;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.1s;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid $text-dark;
  }

  .score_option:hover {
    color: $text-dark;
    background-color: $blue;
  }
}


// .task__scoreselect_option:first-child {
//   border: 0;
// }


select {
  color: $text-light;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0.4rem 0.6rem;
    font-size: 1.5rem;

    appearance: none;
    border-radius: 0;
    margin: 0rem 0 1rem 0;
    letter-spacing: 1px;
}





.text-dark {
  color: $text-dark;
}
.text-light {
  color: #cfd2da;
}













/* TEMPLATE LAYOUT */
.container {
  display: flex;
  flex-direction: row;
}

.left, .right {
  padding: 0.5rem;
  color: #cfd2da;
}
/*.left {*/
  
/*}*/
.right {
  flex-grow: 1;
}


.nav {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  overflow: wrap;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  /*border-radius: 4px;*/
}

.footer {
  z-index: 9000;
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  -webkit-filter: blur(200px);
  filter: blur(200px);
  transition: all 0.5s;
}

.footer__item {
  padding: 1rem;
  text-align: center;
  flex-grow: 1;
  color: #fff;
  font-size: 2rem;
}
.footer__item:hover, .footer__item:active  {
  background-color: rgba(255, 255, 255, 0.1); 
}



/* UTILITY  */

.button {
  padding: $base-spacing;
  background-color: rgba(0 , 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-align: center;
  
}
.button:hover {
  background-color: $green;
  color: $text-dark;
}
.submit {
  border: 1px solid $darkblue;
  margin-top: $base-spacing;
  background-color: $green;
  color: $text-dark;
}
  
  

/* Flex Tables */
.flextable {
  display: flex;
  flex-direction: row;
}
.flexcolumn {
  display: flex;
  order: 1;
  flex-direction: column;
  flex-grow: 1;
}
.flexrow__head {
  order: 0;
}
.flexrow:nth-child(3){
  order: 0;

}
.flexcolumn > .flexhead {
  border-bottom: 2px solid #fff;
}
.flexitem {
  flex-grow: 1;
  padding: 0.2rem 0;
  order: 0;
  font-weight: 300;
}
.flexhead {
  font-weight: 700 !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.box {
  padding: 1rem;
}
.inactive {
  color: rgba(207, 210, 218, 0.3);
}
.inactive:hover {
  color: rgba(207, 210, 218, 0.3);
  background-color: rgba(0, 0, 0, 0);
  cursor: not-allowed;
}

.bg-green {
  background-color: $green !important;
  color: $text-dark !important;
}
.bg-green-hover:hover {
  background-color: $green !important;
  color: $text-dark !important;
}
.bg-red {
  background-color: $red !important;
  color: $text-dark !important;
}
.bg-red-hover:hover {
  background-color: $red !important;
  color: $text-dark !important;
}
.bg-purple {
  background-color: $purple !important;
  color: $text-dark !important;
}
.bg-puprle-hover:hover {
  background-color: $purple !important;
  color: $text-dark !important;
}

.bg-yellow {
  background-color: $yellow !important;
  color: $text-dark !important;
}
.bg-yellow-hover:hover {
  background-color: $yellow !important;
  color: $text-dark !important;
}
.bg-blue {
  background-color: $blue !important;
  color: $text-dark !important;
}
.bg-blue-hover:hover {
  background-color: $blue !important;
  color: $text-dark !important;
}
.bg-grey {
  background-color: $grey !important;
  color: $text-dark !important;
}
.bg-grey-hover:hover {
  background-color: $grey !important;
  color: $text-dark !important;
}
.bg-darkblue {
  background-color: $text-dark !important;
  color: $text-light !important;
}
.bg-darkblue-hover:hover {
  background-color: $text-dark !important;
  color: $text-light !important;
}



/* resize prep */
@media screen and (max-width: 620px) { 
  .footer {
    display: flex;
  }
}
@media screen and (max-width: 600px) { 
  
  /* LAYOUT */
  body{
    padding-bottom: 80px;
  }
  .left, .right {
    padding: inherit;
  }
  .container {
    flex-direction: column;
  }
  .nav {
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }
  
  li.head {
    display: none;
  }
  .footer {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  
}


