
<div class="login_container">
    <div class="task__input_label text-light">Email</div>
    <input id="login-email-input" class="task__input"></input>
    
    <div class="task__input_label text-light">Password</div>
    <input id="login-pass-input" class="task__input" type="password"></input>
</div>

<div id="user-login" class="button submit"></span>Login</div>
<div id="user-register" class="button submit bg-darkblue bg-yellow-hover">Register</div>
<a id="user-resetpass" href="javascript:void(0)"><span class="ion-help-circled"></span> &nbsp;<span class="text-minimize">Send password reset</span></a>


<!--<div class="social-auth">-->
<!--    <span class="box ion-social-twitter"></span>-->
<!--    <span class="box ion-social-facebook"></span>-->
<!--    <span class="box ion-social-google"></span>-->
<!--</div>-->
