<div class="task__input_label text-light">Username</div>
<input class="task__input"></input>

<div class="task__input_label text-light">Password</div>
<input class="task__input"></input>

<div id="task_submit" class="button submit"></span>Login</div>

<div class="button submit bg-darkblue">Register</div>