

<h1><span class="ion-chevron-down"></span> Change Email</h1>
<div id="profile-change-email">

  Your current email address is:
  <b><span class="current-email">lol@lol.com</span></b>
  <div class="task__input_label text-light">New Email</div>
  <input class="form-control"></input>
  
  <div class="task__input_label text-light">Password</div>
  <input type="password" class="form-control"></input>
</div>

<h1><span class="ion-chevron-down"></span> Change Password</h1>
<div id="profile-change-password">
  
  <div class="task__input_label text-light">Old Password</div>
  <input class="form-control"></input>
  
  <div class="task__input_label text-light">New Password</div>
  <input class="form-control"></input>
  
  <div class="task__input_label text-light">New Password <i>(Again)</i></div>
  <input type="password" class="form-control"></input>
  
</div>

<h1>Focus Categories &nbsp; <span class="ion-plus-circled"></span></h1>
<i>In the future, these will be editable.</i><br><br>
<div class="focus-container"></div>
