<div class="tasks_container">

  <div class="task">
    <div class="task__header">
      <!--<div class="task__header-circle"><div class="task__header-score">3</div></div>-->
      
      <div class="task__header_cat"><span class="ion-coffee"></span></div>
      <div class="task__header_title">Title of task thing to asdf asdf asd  do</div>
      <div class="task__header_score"><span class="ion-flash"></span> 3</div>
      
    </div>
    
    <div class="task__body bg-darkblue">
      <div class="task__body_description">This is a task description. It probably won't be super long, because it's just to summarize shit.</div>
      <div class="task__body_actions">
        <div class="task__action"><span class="ion-edit"></span></div>
        <div class="task__action"><span class="ion-checkmark"></span></div>
        <div class="task__action"><span class="ion-close"></span></div>
      </div>
    </div>
    
  </div>
  
  <div class="task">
    <div class="task__header">
      <!--<div class="task__header-circle"><div class="task__header-score">3</div></div>-->
      
      <div class="task__header_cat"><span class="ion-coffee"></span></div>
      <div class="task__header_title">Title of task thing to asdf asdf asd  do</div>
      <div class="task__header_score"><span class="ion-flash"></span> 3</div>
      
    </div>
    
    <div class="task__body bg-darkblue">
      <div class="task__body_description">This is a task description. It probably won't be super long, because it's just to summarize shit.</div>
      <div class="task__body_actions">
        <div class="task__action"><span class="ion-edit"></span></div>
        <div class="task__action bg-green-hover"><span class="ion-checkmark"></span></div>
        <div class="task__action bg-red-hover"><span class="ion-close"></span></div>
      </div>
    </div>
    
  </div>

</div>